@page
@model IndexModel
@{
    ViewData["Title"] = "Noark 5 tjenestegrensesnitt - eksempelapplikasjon";
}

<div class="text-center">
    <h1 class="display-4">Noark 5 tjenestegrensesnitt - eksempelapplikasjon</h1>
    
    <p><a href="https://www.arkivverket.no/forvaltning-og-utvikling/noark-standarden/noark-5/tjenestegrensesnitt-noark5">Les mer om Noark 5 tjenestegrensesnittet.</a></p>
    <p>Dette er en eksempelapplikasjon som gir en oversikt over Noark 5 tjenestegrensesnittet. Applikasjonen har ingen database, men leverer ut testdata i mange av api-metodene.</p>
    
</div>
